{% extends "user_accounts/base.html" %}
{% load static %}

{% block stylesheets %}
    <link rel='stylesheet' href="{% static 'user_accounts/login.css' %}">
{% endblock %}

{% block content %}
    <form method="POST">
        {% if messages %}
            <ul class='messages'>
                {% for message in messages %}
                <li {% if message.tags %} class='{{ message.tags }}'{% endif %}>
                    {{ message }}
                </li>
                {% endfor %}
            </ul>
        {% endif %}
        {% csrf_token %}
        {{ form }}
        <button type='submit'>Login</button>
    </form>
{% endblock %}