<!DOCTYPE html>
<!---Functionality that shall be used across the entire platform.-->
{% load static %}
<html lang='en'>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet' href="{% static 'content_sharing/base.css' %}">
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        <nav>
            <section id="platform-info">
                <a href="{% url 'content_sharing:index' %}"><img src="{% static 'content_sharing/images/logo.jpg' %}"></a>
                <aside>Connectivity</aside>
            </section>
            <section id="other-nav-info">
                <a href="{% url 'content_sharing:index' %}">About Us</a>
                <a href="{% url 'content_sharing:profile' request.user %}">My Profile</a>
                <input type='search' placeholder='Search'>
                <form action="{% url 'user_management:logout' %}" method="POST">
                    {% csrf_token %}
                    <button  type='submit'>Logout</button>
                </form>
            </section>
        </nav>
        {% if post_form %}
        <section id='create-post-container'>
            <ul id='post-form-errors'>

            </ul>
            <form id='create-post'>
                {% csrf_token %}
                {{ post_form.content }}
                <button type='submit'>Post</button>
            </form>
        </section>
        {% endif %}

        {% if post_form %}
        <script src="{% static 'content_sharing/js/create_post_util.js' %}"></script>
        {% endif %}
        
        {% block scripts %}
        {% endblock %}
    </body>
</html>