<!DOCTYPE html>
<!---Functionality that shall be used across the entire platform.-->
{% load static %}
<html lang='en'>
    <head>
        
    </head>
    <body>
        <nav>
            <img src="{% static 'content_sharing/images/logo.jpg' %}">
            <aside>Connectivity</aside>
            <input type='search' placeholder='Search'>
            <a href="{% url 'content_sharing:profile' request.user %}">My Profile</a>
            <a href="{% url 'content_sharing:index' %}">About Us</a>
            <form action="{% url 'user_management:logout' %}" method="POST">
                {% csrf_token %}
                <button  type='submit'>Logout</button>
            </form>
        </nav>
        {% block body %}
        {% endblock %}
        {% if post_form %}
        <ul id='post-form-errors'>

        </ul>
        <form id='create-post'>
            {% csrf_token %}
            {{ post_form.content }}
            <button type='submit'>Post</button>
        </form>
        {% endif %}

        {% if post_form %}
        <script src="{% static 'content_sharing/create_post_util.js' %}"></script>
        {% endif %}
        
        {% block scripts %}
        {% endblock %}
    </body>
</html>