{% extends "content_sharing/base.html" %}
{% load static %}

{% block stylesheets %}
    <link rel='stylesheet' href="{% static 'content_sharing/index.css' %}">
{% endblock %}

{% block posts %}
    <section id='posts'>
    {% for post in posts %}
        <aside class='post'>
            <header class='post-info'>
                <img src="{{ post.profile.pic.url }}">
                <div class='post-creation'>
                    <em>{{ post.profile.user }}</em>
                    <br>
                    <small>{{ post.created }}</small>
                </div>
            </header>
            <p class='post-contents'>{{ post.content }}</p>
        </aside>
    {% endfor %}
    </section>
{% endblock %}