{% load static %}
<!DOCTYPE html>
<html lang='en'>
    <head>

    </head>

    <body>
        <form id='create-post'>
            {% csrf_token %}
            {% if form.errors %}
            <ul>
            {% for error in form.errors %}
                <li>{{ error }}</li>
            {% endfor %}
            </ul>
            {% endif %}
            {{ form.content }}
            <button type='submit'>Post</button>
        </form>
    </body>
    <script src="{% static 'content_sharing/create_post_util.js' %}"></script>
</html>